.sec {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 60px;
    font-family: "Oswald";
    margin-bottom: .3em;
}

.number {
    padding: 1em;
    margin-right: 1em;
    background-color: #ff6348;
    display: flex;
    align-items: center;
}

.flex p {
    margin-right: 1em;
}

.flex {
    background-color: #ced6e0;
    padding: 1em;
    margin: 1em;
}

.instructionContainer {
    /* background-color: #ced6e0; */
    width: 100%;
}



.miniNav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-family: "Oswald";
    margin-top: 3em;
}

.infoImg {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.infoImg div{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.infoImg figcaption {
    padding: 1em;
    font-family: "Oswald";
    background-color: #ced6e0;
    margin: 1em;
}
.container {
    margin-bottom: 3em;
}

/* Forward */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  
  /* Backward */
  .hvr-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }



@media (max-width: 767.98px) {
    .sec img {
        display: none;
    }
}   